@use '../../scss/' as *;

.BrowserPreview {
  border: 3px solid #60677180;
  margin-bottom: 13px;
}

.BrowserPreviewHeader {
  align-items: center;
  background: $BgColor;
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $Gray;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.buttons {
  white-space: nowrap;
}

.right {
  align-self: center;
  width: 10%;
}

.BrowserPreviewAddressBar {
  flex: 1 0;
  margin: 0 1rem 0 0.5rem;
  border-radius: 12.5px;
  background-color: #6067712c;
  padding: 5px 15px;
  font: 400 13px Arial, sans-serif;
  user-select: none;
}

.dot {
  margin-right: 6px;
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.BrowserPreviewMenuIcon {
  margin-left: auto;
}

.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

.BrowserPreviewBody {
  background-color: $BgColor;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1rem;
}

.BrowserPreviewBody *:last-child {
  margin-bottom: 0;
}
